:root {
	--background: black;
	--text: silver;
	--hover: white;
	--progress-top:    hsl(120, 100%, 20%);
	--progress-bottom: hsl(100, 100%, 50%);
}

body {
	background: var(--background);
	color: var(--text);
}
button, input, select {
	background:  var(--background);
	color:       inherit;
	border: none;
	box-shadow: 0px 0px 1px 1px hsla(0,0%,100%,0.4) inset;
	border-radius: 0.2em;
}
button:hover, input:hover, select:hover {
	color: var(--white);
	box-shadow: 0px 0px 1px 1px hsla(0,0%,100%,0.8) inset;
}
:link, :visited {
	color: var(--white);
	font-weight: bold;
	text-decoration: none;
}
:link:hover, :visited:hover {
	text-decoration: underline;
}
button span {
	filter: none;
}
button:hover span {
	filter: brightness(2);
}
select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='silver' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 1em;
}
select:hover {
	background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
#separator {
	background-color: rgb(40,40,40);
	background-image: repeating-linear-gradient( 90deg, var(--background), var(--background) 25%, transparent 25%, transparent 50%);
}
#separator:hover {
	background-color: rgb(80,80,80);
}
#list div:nth-child(even) {
	background: hsla(0,0%,100%,0.05);
}
#list .machinecode.hover {
	color: white;
	transition: all 0.1s ease-in-out;
	background: hsla(0, 0%, 100%, 0.1);
}
#list .machinecode:before {
	color: hsl(200, 100%, 50%);
	transition: all 0.1s ease-in-out;
}
.job-progress {
	text-shadow:
		 1px  1px 1px   rgba(0, 0, 0, 0.5),
		-1px  1px 1px   rgba(0, 0, 0, 0.5),
		 1px -1px 1px   rgba(0, 0, 0, 0.5),
		-1px -1px 1px   rgba(0, 0, 0, 0.5),
		 0px  0px 0.5em rgba(0, 0, 0, 0.75);
	background-image:
		linear-gradient(
			135deg,
			transparent,
			transparent 33%,
			rgba(0, 0, 0, 0.1) 33%,
			rgba(0, 0, 0, 0.1) 66%,
			transparent 66%
		),
		linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		linear-gradient(90deg, var(--progress-top), var(--progress-bottom));
	background-size: 3em 100%, 100% 100%, 0% 100%;
	background-repeat: repeat, repeat, no-repeat;
	box-shadow: 0px 0px 1px 1px hsla(0, 0%, 100%, 0.4) inset;
	border-radius: 0.2em;
}
#fileoptions {
	transition: all 0.1s, opacity 0.2s ease-in-out;
}
